@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Scenebox.UI
@attribute [StyleSheet]

<root class="spawnpage columned">
    <div class="search-container">
        <TextEntry @ref="SearchEntry" OnTextEdited=@Search Placeholder="Search..." />
        <div class="folderlist">
            <div class="entry @(SelectedFolder == "" ? "selected" : "")" onclick=@ResetFolder>
                <i>category</i>
                All Models
            </div>
            <FileTree class="root-file-tree" FileFilter="*.vmdl_c" Selected=@(SelectedFolder) Root=@(true) FileSystem=@(FileSystem.Mounted) Path=@("") ShowFiles=@(false) OnFolderSelect=@OnFolderSelect />
        </div>
    </div>
    <div class="canvas">
        @foreach (var model in ModelList)
        {
            <LocalModelEntry Model=@model />
        }
    </div>
</root>

@code
{
    TextEntry SearchEntry;
    string SelectedFolder = "";
    string SearchQuery = "";
    List<Model> ModelList = new();

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (firstTime)
        {
            Search("");
        }
    }

    void OnFolderSelect(string folderPath)
    {
        SelectedFolder = folderPath;
        Search(SearchQuery);
    }

    void ResetFolder()
    {
        SelectedFolder = "";
        Search(SearchQuery);
    }

    void Search(string value)
    {
        SearchQuery = value;
        ModelList.Clear();

        var files = FileSystem.Mounted.FindFile(SelectedFolder, "*.vmdl_c", true);
        foreach (var file in files)
        {
            if (string.IsNullOrWhiteSpace(file)) continue;
            if (string.IsNullOrWhiteSpace(SearchQuery))
            {
                if (file.Contains("_lod0")) continue;
                if (file.Contains("clothes")) continue;
            }
            else
            {
                if (!file.Contains(SearchQuery)) continue;
            }

            var model = Model.Load(SelectedFolder + file);
            if (model is not null)
            {
                ModelList.Add(model);
            }
        }
    }
}