BasicMenu {
	pointer-events: all;
	position: absolute;
	top: 125;
	left: 780;
	right: 500;
	bottom: 100;
	background-color: #1e1e27;
	border-radius: 5px;
	justify-content: center;
	font-weight: bold;
	overflow-y: scroll;
	overflow-x: visible;
	flex-wrap: wrap;
	gap:10px;
	padding: 20px;
	font-family: 'Times New Roman', serif;

	.section-title {
		width: 100%;
		padding: 10px;
		font-size: 25px;
		color: white;
		background-color: #252830;
		border-radius: 15px 15px 0 0;
	}

	.section {
		background-color: #22222b;
		border-radius: 15px 15px 0 0;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.section-contents {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		padding: 10px;
	}

	.button {
		border-color: #37343e;
		border-width: 2px;
		border-radius: 5px;
		background-color: #25282e;
		padding: 10px;
		cursor: pointer;

		.label-container {
			display: flex;
			flex-direction: column;
			color: white;
		}

		.icon {
			width: 50px;
			height: 50px;
			margin-right: 15px;
			background-color: #a7a7a7;
			border-radius: 50%;
		}

		.label {

		}

		.description {
			font-weight: 400;
			color: #888b91;
		}

		.price {
			color: #75a774;
		}

		&:hover {
			border-color: rgb(50,125,179);
		}	
	}

	.info {
		display: flex;
		flex-direction: column;
		 h1 {
			font-size: 30px;
			font-weight: bold;
		 }

		 p {
			font-size: 20px;
			font-weight: 400;
		 }
	}
}
