BasicMenu {
	pointer-events: all;
	position: absolute;
	top: 150;
	left: 400;
	right: 400;
	bottom: 150;
	background-color: #24292ff4;
	color: #c9c9c9;
	flex-direction: column;
	gap: 1rem;
	font-family: 'Times New Roman', serif;
	font-weight: 400;
	border-radius: 5px;

	.main {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;
		box-shadow: 2px 2px 30px 1px #000000;
	}

	.title {
		font-size: 20px;
		font-weight: 600;
		justify-content: center;
		width: 100%;
		border-radius: 5px 5px 0 0;
		padding: 0.5rem;
	}

	.side-bar {
		flex-direction: column;
		width: 20vw;
		height: 100%;
	}

	.navigation {
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	.player-container {
		padding: 20px;
		height: 20%;
		flex-direction: column;

		.name {
			font-size: 35px;
			margin-bottom: 10px;
		}

		.sub {
			font-size: 15px;
			gap: 3px;
			color: #556B2F;
		}

		.wallet {
			font-size: 25px;
			color: #556B2F;
			margin-bottom: 10px;
		}
	}

	.buttoncontainer {
		flex-direction: column;
		padding: 20px;
		gap: 10px;

		.button {
			display: flex;
			font-size: 25px;
			align-items: center;
			border-radius: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
			width: 100%;
			height: 60px;
			cursor: pointer;

			.icon {
				width: 50px;
				height: 50px;
				text-align: center;
				justify-content: center;
				align-items: center;
			}

			&:hover {
				background: rgb(50,125,179);
				background: linear-gradient(0deg, rgba(50,125,179,1) 0%, rgba(0,99,176,1) 100%);
				color: white;
			}
		}

		.active {
			background: #343b43;
			color: white;
		}
	}


	.main-container {
		flex-wrap: wrap;
		overflow-y: scroll;
		overflow-x: visible;
		justify-content: center;
		background-color: #1b1b2318;
		padding: 10px;
		height: 100%;

		.section-title {
			width: 100%;
			padding: 10px;
			font-size: 25px;
			color: white;
			background-color: #252830;
			border-radius: 15px 15px 0 0;
		}

		.section {
			background-color: #22222b5e;
			border-radius: 15px 15px 0 0;
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		.section-contents {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
			padding: 10px;
		}

		.button {
			border-color: #37343e;
			border-width: 2px;
			border-radius: 5px;
			background-color: #25282e;
			padding: 10px;
			cursor: pointer;

			.label-container {
				display: flex;
				flex-direction: column;
				color: white;
			}

			.icon {
				width: 50px;
				height: 50px;
				margin-right: 15px;
				background-color: #a7a7a7;
				border-radius: 50%;
			}

			.description {
				font-weight: 400;
				color: #888b91;
			}

			.price {
				color: #75a774;
			}

			&:hover {
				border-color: rgb(50,125,179);
			}
		}

		.info {
			display: flex;
			flex-direction: column;

			h1 {
				font-size: 30px;
				font-weight: bold;
			}

			p {
				font-size: 20px;
				font-weight: 400;
			}
		}
	}
}
