﻿@using Sandbox;
@using Sandbox.UI;
@using System;
@using Commands;
@inherits PanelComponent
@implements Component.INetworkListener

<root>
    @if (ChatOpen == true)
    {
        <div class="header">
            Chat
        </div>
    }
	<div class="output">
		@foreach (var entry in Messages)
        {
            // Only show the messages from the last 10 seconds, or all if the input box is focused
            @if (entry.timeSinceAdded < 10f || ChatOpen)
            {
                <div class="chat_entry">
                    <div class="timestamp">@entry.timestamp</div>
                    @if (entry.steamid > 0)
                    {
                        <div class="avatar" style="background-image: url( avatar:@entry.steamid )"></div>
                    }
                    <div class="author">@entry.author</div>
                    <text class="message">@entry.message</text>
                </div>
            }
        }
	</div>

    <div class="input">
        <TextEntry style="width:100%;" MaxLength=@(150) @ref="InputBox" onsubmit="@ChatFinished"></TextEntry>
    </div>
</root>

@code
{
    TextEntry InputBox;
    bool ChatOpen = false;
    public record Entry(ulong steamid, string author, string message, RealTimeSince timeSinceAdded)
    {
        public bool IsNew { get; set; } = true;
        public string timestamp { get; } = DateTime.Now.ToString("HH:mm:ss");
    }
    List<Entry> Messages = new();

    // ConfigManager is a helper class that allows us to register commands and other things
    ConfigManager ConfigManager;
    protected override void OnStart()
    {
        /// Get the ConfigManager from the scene
        ConfigManager = ConfigManagerHelper.GetConfigManager(Scene);
        if (ConfigManager is null)
        {
            Log.Error( "Config Manager not found" );
            return;
        }

        // Register the chat commands
        ConfigManager.Commands.RegisterCommand(new Command(
            name: "clear",
            description: "Clears the chat",
            permissionLevel: 0,
            commandFunction: (args) =>
            {
                Messages.Clear();
                NewSystemMessage("Chat has been cleared", true);
                return true;
            }
        ));

        ConfigManager.Commands.RegisterCommand(new Command(
            name: "lorem",
            description: "Spams the chat with lorem ipsum X times.",
            permissionLevel: 0,
            commandFunction: (args) =>
            {
                if (args.Length == 0 || !int.TryParse(args[0], out int count))
                {
                    NewSystemMessage("Invalid argument. Usage: lorem <count>", true);
                    return false;
                }

                for (int i = 0; i < count; i++)
                {
                    NewUserMessage("Lorem ipsum dolor sit amet.", true);
                }
                return true;
            }
        ));
    }

    protected override void OnUpdate()
    {
        if (InputBox is null)
            return;

        if ( Input.Pressed( "chat" ) )
        {
            ToggleChat(true);
        }

        // Clear the "new" flag after 10 seconds. This is to make sure we don't update chat state every frame
        foreach (var entry in Messages.Where(e => e.IsNew && e.timeSinceAdded > 10.0f))
        {
            entry.IsNew = false;
            StateHasChanged();
        }
    }

    /// <summary>
    /// Opens and closes the Chat UI state.
    /// </summary>
    void ToggleChat(bool open)
    {
        ChatOpen = open;
        if (ChatOpen)
        {
            InputBox.Focus();
            InputBox.Placeholder = "Type /help for commands";
        }else {
            InputBox.Placeholder = "";
        }
        SetClass( "open", open );
        StateHasChanged();
    }

    /// <summary>
    /// Called when the user has finished typing a message in the chat
    /// </summary>
    void ChatFinished()
    {
        ToggleChat(false);
        var text = InputBox.Text;
        InputBox.Text = "";

        if (string.IsNullOrWhiteSpace(text))
            return;

        if ( CheckCommand(text) == true) return;
        NewUserMessage( text );
    }

    /// <summary>
    /// Sends a new message to broadcast to all clients
    /// </summary>
    [Broadcast]
    public void SendMessage( string message, bool system = false, bool clientOnly = false)
    {
        // Return if it's a client-only message and the caller isn't the local client
        if (clientOnly && Rpc.Caller != Connection.Local) return;

        // Return if the message is empty
        if (string.IsNullOrWhiteSpace(message))
            return;


        var author = system ? "ℹ️" : Rpc.Caller.DisplayName;
        var steamid = system ? 0 : Rpc.Caller.SteamId;

        // If there are 30 messages, remove the oldest one
        if (Messages.Count > 30)
        {
            Messages.RemoveAt(0);
        }

        // Add the message to the chat
        Messages.Add(new Entry(steamid, author, message, 0.0f));
        StateHasChanged();
    }

    /// <summary>
    /// Sends a new message from a user to broadcast to all clients
    /// </summary>
    public void NewUserMessage( string message, bool clientOnly = false )
    {
        SendMessage( message, false, clientOnly );
	}

    /// <summary>
    /// Sends a new system message to broadcast to all clients
    /// </summary>
    public void NewSystemMessage( string message, bool clientOnly = false)
    {
        SendMessage( message, true, clientOnly );
    }

	void Component.INetworkListener.OnConnected( Connection channel )
	{
		if ( IsProxy ) return;

		NewSystemMessage( $"{channel.DisplayName} has joined the game" );
	}

	void Component.INetworkListener.OnDisconnected( Connection channel )
	{
		if ( IsProxy ) return;

		NewSystemMessage( $"{channel.DisplayName} has left the game" );
	}

    // Super basic commands for now. Expand later for more.
    // TODO Move this to a separate class & make it more extensible
    public bool CheckCommand(string message)
    {
        if (ConfigManager is null) return false;
        if (message.StartsWith("/"))
        {
            var parts = message.Split(" ");
            var command = parts[0].Substring(1).ToLower();
            var args = parts.Skip(1).ToArray();
            try
            {
                ConfigManager.Commands.ExecuteCommand(command, args);
                return true;
            }catch (Exception e)
            {
                Log.Error( e.Message );
                return false;
            }
        }

        return false;
    }
}