$border-radius: 5px;

Chat {
	position: absolute;
	bottom: 250px;
	left: 35px;
	width: 600px;
	height: 400px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	font-size: 15px;
	font-family: Poppins;
	text-shadow: 2px 2px 2px #000a;

	.textentry {
		align-items: flex-start;
		white-space: normal;
	}

	.output {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 3px;
		gap: 2px;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		border-radius: $border-radius $border-radius 0 0;

		.chat_entry {
			padding: 2px;
			gap: 10px;
			min-height: 32px;
			height: auto;
			flex-shrink: 0;

			.timestamp {
				color: #f3f3f3;
				flex-shrink: 0;
				font-family: 'Times New Roman', serif;
				font-weight: bold;
			}

			.message {
				color: #fff;
				width: 100%;
				flex-basis: 50%;
				flex-grow: 1;
				flex-shrink: 1;
				flex-direction: column;

				&.system {
					font-weight: bold;
					flex-direction: row;

					.author {
						margin-right: 5px;
					}
				}

				.author {
					color: #2d95ce;
					flex-shrink: 0;
					font-weight: bold;
				}
			}

			.avatar {
				margin-top: 6px;
				width: 30px;
				height: 30px;
				margin-left: 10px;
				background-position: center;
				background-size: cover;
				border-radius: 100px;
			}
		}
	}


	&.open {
		pointer-events: all;

		.output, .header, .input {
			background-color: #19191d5b;
			backdrop-filter: blur(2px);
		}

		.input {
			background-color: #19191d7a;
		}
	}

	.input-container {
		position: relative;

		.input {
			color: white;
			padding: 5px;
			border-radius: 0 0 $border-radius $border-radius;
		}

		.command-suggestions {
			position: absolute;
			background-color: #19191d7a;
			color: yellow;
			backdrop-filter: blur(2px);
			padding: 5px;
			bottom: 100%;
			width: 100%;
			padding-left: 15px;
			flex-direction: column;
		}
	}
}
