Chat {
	position: absolute;
	bottom: 300px;
	left: 100px;
	width: 600px;
	justify-content: center;
	font-weight: bold;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	font-family: Poppins;
	gap: 10px;

	.output {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 3px;
		gap: 10px;
		height: calc(32px * 8);
		overflow-y: scroll;
		overflow-x: hidden;

		.chat_entry {
			//background-color: #222d;
			padding: 2px;
			gap: 10px;
			text-shadow: 2px 2px 2px #000a;
			min-height: 32px;
			height: auto;
			flex-shrink: 0;

			.timestamp {
				color: #f3f3f3;
				flex-shrink: 0;
				font-family: 'Times New Roman', serif;
				width: 70px;
			}

			.avatar {
				width: 50px;
				height: 32px;
				margin-left: 5px;
				margin-right: 5px;
				background-position: center;
				background-size: cover;
				border-radius: 100px;
			}

			.author {
				color: #2d95ce;
				flex-shrink: 0;
			}

			.message {
				color: #fff;
				width: 100%;
			}
		}
	}
	.input {
		color: white;
		padding: 5px;
	}


	&.open {
		pointer-events: all;
		.input {
			// color: #fff, color: #ffffffaa, color: rgba( red, 0.5 )
			background-color: #73737370;
		}
		.output {
			background-color: #73737370;
		}
	}
}
