Chat {
	position: absolute;
	bottom: 250px;
	left: 70px;
	width: 30vw;
	height: 20vw;
	justify-content: center;
	font-weight: bold;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	font-size: 17px;
	font-family: Poppins;
	text-shadow: 2px 2px 2px #000a;

	.header {
		color: white;
		padding: 5px;
		height: auto;
		border-bottom: 2px solid rgb(148, 148, 148);
	}

	.output {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 3px;
		gap: 2px;
		height: calc(32px * 8);
		overflow-y: scroll;
		overflow-x: hidden;

		.chat_entry {
			//background-color: #222d;
			padding: 2px;
			gap: 10px;
			min-height: 32px;
			height: auto;
			flex-shrink: 0;

			.timestamp {
				color: #f3f3f3;
				flex-shrink: 0;
				font-family: 'Times New Roman', serif;
			}

			.user-group {
				padding: 0;
				margin: 0;
				display: flex;
				text-align: center;
				width: 90px;
				justify-content: center;
				color: rgb(231, 197, 84);
			}

			.avatar {
				width: 25px;
				height: 25px;
				margin-left: 5px;
				margin-right: 5px;
				background-position: center;
				background-size: cover;
				border-radius: 100px;
			}

			.author {
				color: #2d95ce;
				flex-shrink: 0;
			}

			.message {
				color: #fff;
				width: 100%;
				flex-basis: 50%;
				flex-grow: 1;
				flex-shrink: 1;
			}
		}
	}


	&.open {
		pointer-events: all;

		.output, .header, .input {
			background-color: #73737370;
		}
	}

	.input-container {
		position: relative;

		.input {
			color: white;
			padding: 5px;
		}

		.command-suggestions {
			position: absolute;
			background-color: #1e1e27e7;
			color: yellow;
			padding: 5px;
			bottom: 100%;
			width: 100%;
			padding-left: 15px;
			flex-direction: column;
		}
	}
}
