Chat {
	position: absolute;
	bottom: 250px;
	left: 50px;
	width: 700px;
	height: 500px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	font-family: Poppins;
	text-shadow: 2px 2px 2px #000a;
	padding-top: 10px;

	.output {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 3px;
		gap: 2px;
		height: calc(32px * 8);
		overflow-y: scroll;
		overflow-x: hidden;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		.chat_entry {
			padding: 2px;
			gap: 10px;
			min-height: 32px;
			height: auto;
			flex-shrink: 0;

			.timestamp {
				color: #f3f3f3;
				flex-shrink: 0;
				font-family: 'Times New Roman', serif;
				font-weight: bold;
			}

			.user-group {
				padding: 0;
				margin: 0;
				text-align: center;
				width: 90px;
				justify-content: center;
				color: rgb(231, 197, 84);
				font-weight: bold;
			}

			.message {
				color: #fff;
				width: 100%;
				flex-basis: 50%;
				flex-grow: 1;
				flex-shrink: 1;
				flex-direction: column;
				&.system {
					font-weight: bold;
					flex-direction: row;
					.author {
						margin-right: 5px;
					}
				}
				
				.author {
					color: #2d95ce;
					flex-shrink: 0;
					font-weight: bold;
				}
			}

			.avatar {
				width: 45px;
				height: 45px;
				margin-left: 10px;
				background-position: center;
				background-size: cover;
				border-radius: 100px;
			}
		}
	}


	&.open {
		pointer-events: all;

		.output, .header, .input {
			background-color: #73737370;
		}

		.input-container {
			border-top: 2px solid rgb(148, 148, 148);
		}
	}

	.input-container {
		position: relative;

		.input {
			color: white;
			padding: 5px;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		.command-suggestions {
			position: absolute;
			background-color: #1e1e27e7;
			color: yellow;
			padding: 5px;
			bottom: 100%;
			width: 100%;
			padding-left: 15px;
			flex-direction: column;
		}
	}
}
