@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="info1"> <div class="info2">

        <h1  style =  " margin-top: 2vh;   color: #00ff00; font-size:50px;">   <strong>DONE</strong></h1>
        <h1  style =  " margin-top: 5vh;   color: #00ff00; font-size:22px; flex-wrap:wrap">    <strong>@MyStringValue</strong></h1>
        <h1  style =  " margin-top: 5vh;   color: #ff3300; font-size:50px;">   <strong>TODO</strong></h1>
        <h1  style =  " margin-top: 3vh;   color: #ff3300; font-size:22px; flex-wrap:wrap">   <strong>@MyStringValue2</strong></h1>
        <h1  style =  " margin-top: 5vh;   color: #ffff00; font-size:50px;">   <strong>NOTE</strong></h1>
        <h1  style =  " margin-top: 3vh; margin-right: 3vh; margin-left: 3vh; font-size:22px; color: #ffff00; flex-wrap:wrap">  <strong>@MyStringValue3</strong></h1>

    </div>
</root>

@code
{

    [Property, TextArea] public string MyStringValue { get; set; } = "Hello World!";
    [Property, TextArea] public string MyStringValue2 { get; set; } = "Hello World!";
    [Property, TextArea] public string MyStringValue3 { get; set; } = "Hello World!";

    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(MyStringValue, MyStringValue2, MyStringValue3);
}
