LeaderBoard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .TableContainer {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #c9c9c9;
        font-family: 'Times New Roman', serif;
        font-weight: 400;
        border-radius: 5px;
        width: 100%; /* Adjust the width as needed */
        height:80%;
    }

    .TableTitle {
        text-align: center;
        justify-content: center;
        width: 50%;
        background-color: #1b1b23;
        border-radius: 5px 5px 0 0;
    }   

    .TableRow {
        display: flex;
        justify-content: center;
        width: 50%;
        background-color: #22222bF0;
    }

    .TableCell, .TableHeader {
        flex: 1; /* Each cell takes up equal space */
        text-align: center;
        border: 2px solid #37343e;
        color: #c9c9c9;
        padding-top:0.1rem;
        padding-bottom:0.1rem;
    }

    .TableRow:nth-child(even) {
        background-color: #1b1b23F0;
    }

    .TableRow:hover {
        background-color: rgb(50,125,179);
        color: white;
    }
}
