MoneyUI {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 17px;
    overflow: visible;
    width: 100%;
}

.title {
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: green;
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}