MoneyUI {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 14px;
    overflow: visible;
    width: 100%;
}

.title {
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}