@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="name">@Name.Truncate(13)</div>
</root>

@code

{
    // Currently the nameplate doesn't adapt well with the player size, so we need to find a workaround //

    string Name;

    protected override void OnStart()
    {
        // we are not the local network player show the nameplate to everyone
        if (!Network.IsOwner) { ShowNameplate(); } 
    }

    [Broadcast]
    public void ShowNameplate()

    {
        if (!Network.IsOwner && GameObject.Parent.IsValid) { Name = GameObject.Parent.Network.OwnerConnection.DisplayName; } 
    }

	/// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(Name);
}
