PlayerHUD {

	.notifications {
		position: absolute;
		top: 80px;
		right: 100px;
		flex-direction: column;
		height: auto;
		width: auto;
		gap: 10px;
		//margin: 0.5rem;
		//justify-content: flex-end;
		overflow-y: hidden;
		display: flex;

		.notification {
			background-color: #1e1e27ba;
			color: white;
			text-shadow: 2px 2px 4px #000000;
			padding: 10px;
			gap: 10px;
			border-radius: 5px;
			font-size: 13px;
			width: auto;
			align-self: flex-end;
			flex-shrink: 0;
		}
	}

	.crosshair {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0.3vw;
		height: 0.3vw;
		background-color: rgb(193, 193, 193);
		border-radius: 50%;
		pointer-events: none;
	}

	.key-instructions {
		color:white;
		font-size: 25px;
		margin-top: 50px;
		margin-left: 50px;
		text-shadow: 2px 2px 4px #000000;
	}

	.player-card {
		position: absolute;
		bottom: 25px;
		left: 25px;
		width: 400px;
		// background-color: #1e1e27ba;
		color: white;
		text-shadow: 2px 2px 4px #000000;
		flex-direction: column;
		font-family: 'Times New Roman', serif;
		padding: 10px;

		.name {
			width: 100%;
			font-size: 35px;
			line-height: 35px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
		}

		.player-details-container {
			margin-top: 10px;
			display: flex;
			height: auto;
			justify-content: space-between;

			.money {
				color: lawngreen;
				align-self: flex-start;
				font-size: 25px;
				flex-shrink: 0;
			}
			.job {
				align-self: flex-end;
				font-size: 25px;
				flex-shrink: 0;
			}
		}

		.bars {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
			.bar {
				width: 100%;
				height: 30px;
				background-color: #ccc;
				position: relative;
				box-shadow: -1px -1px 30px 1px #000000;
				margin-top: 10px;
				
				.bar-text {
					font-size: 20px;
					margin-left: 5px;
				}
				
			}
		}

		.fill {
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			&.fill--health {
				background-color: rgb(180, 71, 71);
			}
			&.fill--food {
				background-color: rgb(219, 157, 42);
			}
		}
	}

	.inventory {
		position: absolute;
		width: 100%;
		top: -120px;
		transition: top .2s ease-out, transform 2s ease-out;
		transform-origin: center;
		// background-color: red; // this is to debug the container

		justify-content: center;
		align-items: flex-start;
		gap: 20px;

		&.visible {
			top: 30px;
			// transform: rotate(360deg); // This do be crazy spinning yo
		}

		.slot {
			height: 90px;
			width: 90px;
			flex-direction: column;
			//background-color: black; // this is to debug the container
			background-color: #19191d5b;
			border-radius: 5px 5px 5px 5px;
			backdrop-filter: blur(1px);
			color: rgba(255, 255, 255, 0.6);
			transition: height 0.1s ease-out, width 0.1s ease-out, margin 0.1s ease-out;
			
			&.active {
				color: white;
				background: linear-gradient(90deg, rgba(51, 116, 255, 1) 0%, rgba(25, 25, 29, 0.357) 10%);
				height: 100px;
				width: 100px;
				margin: -5px;
			}
			
			.text {
				font-size: 30px;
				font-family: Poppins;
				align-self: flex-end;
				margin-right: 10px;
			}
		}
	}
}
