PlayerHUD {
	.notifications {
		position: absolute;
		top: 80px;
		right: 100px;
		flex-direction: column;
		height: auto;
		width: auto;
		gap: 10px;
		//margin: 0.5rem;
		//justify-content: flex-end;
		overflow-y: hidden;
		display: flex;

		.notification {
			background-color: #1e1e27ba;
			color: white;
			text-shadow: 2px 2px 4px #000000;
			padding: 10px;
			gap: 10px;
			border-radius: 5px;
			font-size: 13px;
			width: auto;
			align-self: flex-end;
			flex-shrink: 0;
		}
	}

	.crosshair {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 0.3vw;
		height: 0.3vw;
		background-color: rgb(193, 193, 193);
		border-radius: 50%;
		pointer-events: none;
	}

	.player-card {
		position: absolute;
		bottom: 25px;
		left: 25px;
		// background-color: #1e1e27ba;
		color: white;
		text-shadow: 2px 2px 4px #000000;
		flex-direction: column;
		font-family: 'Times New Roman', serif;
		padding: 10px;

		.player-details-container {
			width: 100%;
			gap: 2rem;

			.container {
				display: flex;
				flex-direction: column;
				height: auto;
				justify-content: space-between;

				.center {
					flex-direction: column;
					justify-content: center;
					height: 100%;
				}

				.name {
					font-size: 35px;
				}

				.job {
					font-size: 25px;
					align-self: flex-end;
				}

				.money {
					color: lawngreen;
					margin-left: 10px;
					align-self: flex-end;
					font-size: 25px;
				}

				.wallet {
					display: flex;
					flex-direction: row;
					font-size: 25px;
					width: 100%;

					.label {
						margin-right: 100px
					}
				}
			}
		}

		.bars {
			display: flex;
			flex-direction: column;
			margin-top: 10px;
		}

		.bar {
			width: 100%;
			height: 2.5vh;
			background-color: #ccc;
			position: relative;
			box-shadow: 2px 2px 30px 1px #000000;
			margin-top: 10px;
		}

		.fill {
			height: 100%;
			width: 50%;
			background-color: red;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
