PlayerNametag
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
	font-size: 64px;
	font-weight: black;
	color: white;
	text-stroke: 8px black;
}