@using Sandbox;
@using global::Entity.Interactable.Printer
@using Utils;
@inherits PanelComponent

<root>
    <div class="title">$ @(NumberUtils.FormatNumberWithSuffix(PrinterLogic.PrinterCurrentMoney))</div>
</root>

@code
{
    PrinterLogic PrinterLogic { get; set; }

    protected override void OnStart()
    {
        PrinterLogic = GameObject.Parent.Components.Get<PrinterLogic>();
        if (PrinterLogic == null)
        {
            Log.Warning("PrinterLogic not found");
        }
    }

   // [Property] public GameObject Printer { get; set }


    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(PrinterLogic?.PrinterCurrentMoney);
}
