@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="title">$ @(PrinterPrefab.Components.Get<PrinterLogic>().PrinterCurrentMoney.ToString("N0"))</div>
</root>

@code
{

    [Property] GameObject PrinterPrefab { get; set; }


   // [Property] public GameObject Printer { get; set }


    /// <summary>
    /// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine(PrinterPrefab.Components.Get<PrinterLogic>().PrinterCurrentMoney);
}
