@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>

    <div class="title">Menu</div>

    <div class="buttoncontainer"> 
        
        <div class="button" onclick="@InfoClick">
            <div class="button-label-container">
                <div class="button-label">
                    Info
                </div>
                <div class="button-description">
                    General Information
                </div>
            </div>
        </div>
        <div class="button" onclick="@JobClick">
            <div class="button-label-container">
                <div class="button-label">
                    Jobs
                </div>
                <div class="button-description">
                    Choose your profession
                </div>
            </div>
        </div>
        <div class="button" onclick="@DarkWebClick">
            <div class="button-label-container">
                <div class="button-label">
                    Dark Web
                </div>
                <div class="button-description">
                    Purchase illegal goods
                </div>
            </div>
        </div>
        <div class="button" onclick="@AdminClick">
            <div class="button-label-container">
                <div class="button-label">
                    Admin
                </div>
                <div class="button-description">
                    Configuration & Tools
                </div>
            </div>
        </div>
    

    </div>
</root>

@code
{

    public Panel JobMenu { get; set; }

    void InfoClick() { Log.Info("Click"); } // Log.Info("Click");

    void JobClick() { Log.Info("Click"); } // Log.Info("Click");

    void DarkWebClick() { Log.Info("Click"); } // Log.Info("Click");

    void AdminClick() { Log.Info("Click"); } // Log.Info("Click");

}

