TabMenu {
	pointer-events: all; // Show the mouse cursor
	position: absolute;
	top: 125;
	left: 500;
	bottom: 100;
	right: 500;
	background-color: #252830;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-family: 'Times New Roman', serif;
		.title {
			color: #ffffff;
			font-size: 25px;
			margin-bottom: 10px;
			font-weight: 400;
			justify-content: center;
			width: 100%;
		}

		.buttoncontainer {
			display: flex;
			flex-direction: column;
			gap: 5px;
			width: 250px;
			.button {
				color: white;
				font-size: 35px;
				padding: 5px;
				padding-left: 10px;
				border-radius: 10px 0 0 10px;
				width: 100%;
				cursor: pointer;

				&:hover {
					background: rgb(50,125,179);
					background: linear-gradient(0deg, rgba(50,125,179,1) 0%, rgba(0,99,176,1) 100%);
				}

				.button-label-container {
					display: flex;
					flex-direction: column;
				}

				.button-label {
					font-weight: lighter;
				}

				.button-description {
					font-size: 20px;
					color: #888b91;
				}
			}
		}
	}
