KillFeed
{
    position: absolute;
    top: 32px;
    right: 64px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 black;
    align-items: flex-end;

    flex-direction: column;

    KillFeedEntry
    {
        opacity: 1;
        gap: 24px;
        transition: opacity 0.5s;

        .killer, .victim
        {
            color: white;
        }

        .object
        {
            // font-family: csd;
            // font-size: 42px;
            // color: rgb(255, 115, 115);

            // &.hl
            // {
            //     font-family: halflife2;
            //     bottom: 16px;
            // }
        }

        &:outro
        {
            opacity: 0;
        }
    }
}